<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lumino - Charts</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/bootstrap-datetimepicker.css" rel="stylesheet">
	<link href="/static/css/styles.css" rel="stylesheet">

	<!--Custom Font-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Sensors</span>Admin</a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">{{session['logged_in']}}</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<ul class="nav menu">
			<li><a href="/"><em class="fa fa-tachometer-alt">&nbsp;</em> Dashboard</a></li>
			<li><a href="widgets.html"><em class="fa fa-calendar">&nbsp;</em> Widgets</a></li>
			<li class="active"><a href="/charts"><em class="fa fa-chart-bar">&nbsp;</em> Charts</a></li>
			<li><a href="elements.html"><em class="fa fa-toggle-off">&nbsp;</em> UI Elements</a></li>
			<li><a href="panels.html"><em class="fa fa-clone">&nbsp;</em> Alerts &amp; Panels</a></li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon">&nbsp;</em> Multilevel <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> Sub Item 1
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> Sub Item 2
					</a></li>
					<li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> Sub Item 3
					</a></li>
				</ul>
			</li>
			<li><a href="/logout"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Charts</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Charts</h1>
			</div>
		</div><!--/.row-->

		<div class="row">
			<form id="datetime_range" action="/charts" method="GET">
	        <!-- <div class="row">          -->
	          <div class="col-lg-3">
			  	<div class="form-group">
					<label for="from">From date</label>
					<input class="form-control" id="datetimepicker1" type="text" value="{{from_date}}" name="from">
				</div>
	          </div>
	        <!-- </div> -->
	        <!-- <div class="row"> -->
	          <div class="col-lg-3">
			  	<div class="form-group">
					<label for="to">To date</label>
					<input class="form-control" id="datetimepicker2" type="text" value="{{to_date}}" name="to">
				</div>
	          </div>
	        <!-- </div>          -->
			<div class="col-lg-2">
				<div class="form-group">
					<label>Select</label>
					<select class="form-control" name="select">
						{% for sensor in sensor_select %}
						<option {% if sensor==select_sensor %} selected {% endif %}>{{sensor}}</option>
						{%endfor%}
						<option {% if select_sensor=='all' %} selected {% endif %}>all</option>
					</select>
				</div>
			</div>
	        <!-- <div class="row"> -->
	        <div class="col-lg-3">
				<div class="form-group">
					<button type="submit" class="btn btn-md btn-primary" style="margin-top: 25px">Submit</button>
				</div>
	        </div>
	        <!-- </div> -->
	      </form>
		</div><!--/.row-->


		{% for sensor in list %}
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{sensor}}
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li>
										<ul class="dropdown-settings">
											<li id="get_csv" name="{{sensor}}"><a href="#">
												<em class="fa fa-cog"></em> Save CSV
											</a></li>
											<li class="divider"></li>
											<li id="get_json" name="{{sensor}}"><a href="#">
												<em class="fa fa-cog"></em> Save JSON
											</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-angle-up"></em></span></div>
						<div class="panel-body">
							<div class="canvas-wrapper">
								<canvas class="main-chart" id="{{sensor}}" height="200" width="600"></canvas>
							</div>
						</div>
				</div>
			</div>
		</div><!--/.row-->
		{%endfor%}
	</div>	<!--/.main-->


	<script src="/static/js/jquery-1.11.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script src="/static/js/chart-data.js"></script>
	<script src="/static/js/easypiechart.js"></script>
	<script src="/static/js/easypiechart-data.js"></script>
	<script src="/static/js/custom.js"></script>
	<script src="/static/js/bootstrap-datetimepicker.js"></script>
	<script>
	function parseJSONToCSVStr(jsonData) {
    if(jsonData.length == 0) {
        return '';
    }

    let keys = Object.keys(jsonData[0]);

    let columnDelimiter = ',';
    let lineDelimiter = '\n';

    let csvColumnHeader = keys.join(columnDelimiter);
    let csvStr = csvColumnHeader + lineDelimiter;

    jsonData.forEach(item => {
        keys.forEach((key, index) => {
            if( (index > 0) && (index < keys.length) ) {
                csvStr += columnDelimiter;
            }
            csvStr += item[key];
        });
        csvStr += lineDelimiter;
    });

    return encodeURIComponent(csvStr);;
	}

	function exportToCsvFile(jsonData, filename) {
    let csvStr = parseJSONToCSVStr(jsonData);
    let dataUri = 'data:text/csv;charset=utf-8,'+ csvStr;

    let exportFileDefaultName = filename+'.csv';

    let linkElement = document.createElement('a');
    linkElement.setAttribute('href', dataUri);
    linkElement.setAttribute('download', exportFileDefaultName);
    linkElement.click();
	}

	function exportToJsonFile(jsonData, filename) {
	    let dataStr = JSON.stringify(jsonData,  null, 2);
	    let dataUri = 'data:application/json;charset=utf-8,'+ encodeURIComponent(dataStr);

	    let exportFileDefaultName = filename+'.json';

	    let linkElement = document.createElement('a');
	    linkElement.setAttribute('href', dataUri);
	    linkElement.setAttribute('download', exportFileDefaultName);
	    linkElement.click();
	}

	function GetValue(index) {
		let obj = [];

		{% for key, data in value.items() %}
			if("{{key}}" === index) {
				{% for get in data %}
					obj.push({temperature : {{get[0]}},
										humidity : {{get[1]}},
										pressure : {{get[2]}},
										datetime: "{{get[3]}}"});
				{% endfor %}
			}
		{% endfor %}

		return obj;
	};

	$(document).on('click', '.panel-heading #get_json', function(e){
	  exportToJsonFile(GetValue($(this).attr("name")), $(this).attr("name"));
	});

	$(document).on('click', '.panel-heading #get_csv', function(e){
		exportToCsvFile(GetValue($(this).attr("name")), $(this).attr("name"));
	});

	$("#datetimepicker1").datetimepicker({
		format: 'yyyy-mm-dd hh:ii:ss',
		defaultDate: '{{from_date}}'
	});

	$("#datetimepicker2").datetimepicker({
		format: 'yyyy-mm-dd hh:ii:ss',
		defaultDate: '{{to_date}}'
	});

	window.onload = function () {
		{% for get_sensor in list %}
			new Chart(document.getElementById("{{get_sensor}}"), {
			  type: 'line',
			  data: {
			    labels: [
						{% for time in value[get_sensor] %}
							"{{time[3]}}",
					  {% endfor %}
					],
			    datasets: [{
			        data: [
								{% for temp in value[get_sensor] %}
										"{{temp[0]}}",
								{% endfor %}
							],
			        label: "Temperature",
			        borderColor: "#3e95cd",
			        fill: false
			      }, {
			        data: [
								{% for humi in value[get_sensor] %}
									"{{humi[1]}}",
								{% endfor %}
							],
			        label: "Humidity",
			        borderColor: "#8e5ea2",
			        fill: false
			      }, {
			        data: [
								{% for press in value[get_sensor] %}
									"{{press[2]}}",
								{% endfor %}
							],
			        label: "Pressure",
			        borderColor: "#3cba9f",
			        fill: false
			      }]
			  },
			  options: {
					tooltips: {
						mode: 'index',
						position: 'nearest'
					},
					legend: {
						position: 'top'
					}
			  }
			});
		{% endfor %}
	};
	</script>
</body>
</html>
